 <!-- ########################################################################################################## 

                                       PARTIAL FOR ANSWER CARDS 
                                          
 ########################################################################################################### -->
<head>
  <style type="text/css">

    /* Imports */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
    .card{
      transition-duration: 0.3s;
      transition-property: box-shadow;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      transform: translateZ(3);
      border: 1px solid #d1d1d1;
      border-radius: 6px;
    }

    div.card:hover {
      box-shadow: 0 12px 12px rgba(0, 0, .6, .6);
    }
    .card-title{
      padding:1rem;
      border-bottom: 0px;
      font-size: 19px;
      font-weight: 300;
    }

    .card-title .fakeimage {
      width: 50px;
      height: 50px;
      float: left;
      border-radius: 100%;
    }
    .card-title h2,  .card-title .wrap > p {
      margin-bottom: 10px;
      font-family: Lato, sans-serif;
      font-size: 1.2em;
      color: #222;
    }
    .card-title p {
      color: #696a6e;
      margin-right: 10px;
      margin-left: 10px;
      font-family: Lato, sans-serif;
      font-size: 0.9em;
      color: #aaa;
      float: left;
    }
    .card-title h5#head{
      color: #696a6e;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 110%;
      margin: 0 0 0 0;
    }
    .card-title p#head{
      color: #696a6e;
      font-size: 0.8rem;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .card-title p i {
      color: #696a6e;
      margin-right: 0;
      margin-left: 0;
      font-family: Lato, sans-serif;
      font-size: 0.7em;
      float: left;
      margin-top: 0px;
      margin-bottom: 0px;


    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-content.grey-text.text-darken-3{
      padding: 24px;
      padding-top: 0px;
      padding-bottom: 24px;
      border-radius: 0 0 2px 2px;
      padding-bottom: 2px;
      padding-top: 0px;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-title.row{
      margin-bottom:0px;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-title.row div.left.details{
      margin-left: 10px;

    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-content.grey-text.text-darken-3 div.row a i.material-icons.right{
      color:#949599;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-content.grey-text.text-darken-3 div.row a i.material-icons.right:hover{
      color:#0091ea;
    }
    .modal .modal-content1{
      position: absolute;
      height: calc(100% - 119px);
      max-height: 100%;
      width: 100%;
      overflow-y: auto;
      padding: 20px;
    }
    .modal .modal-footer{
      border-radius: 0 0 2px 2px;
      background-color: #fafafa;
      padding: 4px 6px;
      height: 116px;
      width: 100%;
    }
    .modal .modal-footer .btn-flat{
      background-color: #81d4fa;
      padding: 10px 2px;
    }
  </style>

</head>

<div class="answer">
  <div class="userDetail">
    <div class="card hoverable">
      <div class="card-title row" style="padding-bottom: 0px;">
        <div class="fakeimage left" style="margin-left: 10px;">
          <div class="picture"><%=avatar_for(answer.user,size: 40)%></div>
        </div>
        <div class="left details">
          <h5 id="head"><%= link_to answer.user.name,user_path(answer.user.id) %></h5>
          <p id="head" style="font-weight: 700"><%= time_ago_in_words(answer.created_at) unless answer.created_at.blank? %> ago</p>
          <br>
        </div>
      </div>
      <div class="card-content grey-text text-darken-3" style="padding-top: 0px; padding-bottom: 5px;">
        <p style="font-family: Lato"><%= raw answer.content %></p>
        <br>
        <div class="row" style="padding-bottom: 0px;">
          <% if current_user !=nil %>
          <a class="modal-trigger" href="#modal1_<%= answer.id%>"><i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Comment">forum</i></a>
          <%if can? :update,answer%>
          <%= link_to ('<i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Edit Answer">create</i>').html_safe, edit_answer_path(answer)%>
          <% end %>
          <% end %>
          <% if current_user !=nil %>
          <%if can? :destroy,answer%>
          <%= link_to ('<i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Delete">delete</i>').html_safe, answer, method: :delete, data: {confirm: "Are you sure?"}%>
          <% end %>
          <% end %>
          <% if current_user !=nil %>
          <% if answer.like_string(current_user.id,answer.id)== true%>
          <%= link_to ('<i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Unlike" >favorite</i>').html_safe, answer_like_path(answer), remote:true,method: :post ,id: "like_#{answer.id}" %>
          <%else%>
          <%= link_to ('<i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Like">favorite_border</i>').html_safe, answer_like_path(answer), remote:true,method: :post ,id: "like_#{answer.id}" %>
          <%end%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- ##################################  MODAL FOR ADDING NEW COMMENT STARTS! ########################################-->
<% if current_user !=nil %>
<div id="modal1_<%= answer.id%>" class="modal modal-fixed-footer">
  <div class="modal-content1">
    <div id="comments_<%= answer.id%>">
      <% @commentfeed.each do |comment| %>
      <%= render 'comment' , comment: comment %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <div class="createComment">
      <%= form_for @comment, :url => comments_path(answer_id:answer.id), remote: true do |task|%>
      <%= task.label :comment %><br>
      <%= task.text_area :content %><br>
      <div class="actions">
        <%= task.submit id: 'create_comment_submit', class:"modal-action modal-close waves-effect waves-green btn-flat"%>
      </div>
      <% end %>
      <% if @comment.errors.any? %>
      <% @comment.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
  <!-- ************************************* MODAL FOR ADDING NEW COMMENT ENDS! ************************************* -->


<script type="text/javascript">
 $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('#modal1').on('click', function () {
        });

        $('#modal1').modal({
           dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: 0, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
          });

        $('#modal1').modal('open');
        $('.trigger-modal').modal();
        $('#modal1').modal('close');
        ('.tooltipped').tooltip({delay: 50});
      });
    </script>
