 <!-- ########################################################################################################## 

                                       FORM FOR EDIT QUESTION
                                          
 ########################################################################################################### -->
<style type="text/css">
 div.card.z-depth-4.center div.action i.waves-effect.waves-light.btn.green.darken-3.right{
  line-height: 2em;
  height: 2em;
  width: 60px;
  padding: 0;
  padding-top: 6px;
}

</style>
<%= form_for @question do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

  <ul>
    <% @question.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="card z-depth-4 center" style="height:451px;border: 1px solid #d1d1d1;
border-radius: 10px;">
<div class="green darken-3 z-depth-4" style="padding-bottom:20px;">
  <br>
  <span class="card-title white-text">Edit question</span>
  <br>
</div>
<form>
  <div class="col s12" style="padding:40px;">
    <br>
    <br>
    <div class="input-field">
      <%= f.text_field :title ,class:"validate" ,id:"innnpuuut"%>
      <label for="question_title" data-error="wrong" data-success="right">Title</label>
    </div>
    <div class="input-field" id="innnpuuut">
      <%= f.text_field :content ,class:"validate" ,id:"innnpuuut"%>
      <label for="question_content" data-error="wrong" data-success="right">Content</label>
    </div>
  </div>
  <br>
  <div class="action" style="padding:10px; height: 20px; width: 100%;">
    <%= f.submit "Save" , class:"waves-effect waves-light btn green darken-3 right"%>
    <%= link_to 'Back', @question ,class:"waves-effect waves-light btn green darken-3 left" %>
  </div>
</form>
</div>
<% end %>

<script type="text/javascript">
  var formmodified=0;
  $('form *').change(function(){
   formmodified=1;
 });

  $("input[name='commit']").click(function() {
    formmodified = 0;
  });
  window.addEventListener("beforeunload", function (e) {
    var confirmationMessage ="";
    if (formmodified == 1) {
      confirmationMessage = 'It looks like you have been editing something. '
      + 'If you leave before saving, your changes will be lost.';
    }
    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
  });
</script>

<script type="text/javascript">
  $('.tooltipped').tooltip({delay: 50});
</script>