<head>
  <meta charset="UTF-8">
  <title>Answer</title>

  <style type="text/css">

    /* Imports */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
    #cardques.card{
      margin-bottom: 10px;
      transition-duration: 0.3s;
      transition-property: box-shadow;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      transform: translateZ(3);
      background: #acb6e5;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    div#cardques.card:hover {
      box-shadow: 0 12px 12px rgba(0, 0, .6, .6);
    }
    #cardques .card-title{
      padding:1rem;
      border-bottom: 0px;
    }

    #cardques .card-title .fakeimage {
      width: 50px;
      height: 50px;
      float: left;
      border-radius: 100%;
    }
    #cardques .card-title h2,  .card-title .wrap > p {
      margin-bottom: 10px;
      font-family: Lato, sans-serif;
      font-size: 1.2em;
      color: #222;
    }
    #cardques .card-title p {
      margin-right: 10px;
      margin-left: 10px;
      font-family: Lato, sans-serif;
      font-size: 0.9em;
      color: #aaa;
      float: left;
    }
    #cardques .card-title #quesuserdetail{
      margin-left: 65px;
      margin-top: 12px;

    }
    #cardques .card-title #quesuserdetail h4{
      font-family: 'Fresca', sans-serif;
      font-size: 1.5rem;
      line-height: 91%;
      margin: 0;
    }
    #cardques .card-title #quesuserdetail p{
      font-size: 16px;
      line-height: 91%;
      margin: 0;
    }
    div#quescontent{
      padding-top: 0px;
      padding-bottom: 2px;
    }
    div#quescontent h5{
      margin-top: 0;
      margin-bottom: 3px;
      color: #696a6e;
    }
    div#quescontent p{
      color: #6f6f6f;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#cardques.card div#quescontent.card-content.grey-text div.row a i.material-icons.right{
      color:#949599;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#cardques.card div#quescontent.card-content.grey-text div.row a i.material-icons.right:hover{
      color:#0091ea;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div.createAnswer form#new_answer.new_answer div.actions input#create_answer_submit.btn.right{
      color: #fff;
      background-color: #949599;
      border: none;
      border-radius: 20px;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 1rem;
      text-transform: uppercase;
      vertical-align: middle;
      margin : 10px;
      margin-top: 8px;
      margin-bottom: 15px;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div.createAnswer form#new_answer.new_answer div.actions input#create_answer_submit.btn.right:hover{
      background: #00BCD4;
      z-index: 8000;
    }
    .createAnswer{
      margin-bottom: 60px;
    }

    html body div#mithu.container div.row div.col.s12.m12.l7 div#cardques.card.hoverable div#quescontent.card-content.grey-text div.row a.waves-effect.waves-light.btn.follow.right{
      color: #fff;
      background-color: #949599;
      border: none;
      border-radius: 20px;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 1rem;
      text-transform: uppercase;
      vertical-align: middle;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div#cardques.card.hoverable div#quescontent.card-content.grey-text div.row a.waves-effect.waves-light.btn.follow.right:hover{
      color: #fff;
      background-color:#00b8d4 ;
      z-index: 8000;
    }
  </style>

</head>

<div id="cardques" class="card hoverable">
  <div class="card-title">
    <div class="fakeimage">
      <div class="circle responsive-img valign profile-image"><%=avatar_for(@question.user,size: 40)%></div>
    </div>
    <div id="quesuserdetail">
      <h4><%= link_to @question.user.name,user_path(@question.user.id) %></h4>
      <p ><%= time_ago_in_words(@question.created_at) unless @question.created_at.blank? %> ago</p>
    </div>
  </div>
  <br>
  <div id="quescontent" class="card-content grey-text">
    <h5 style=" font-family: 'Cantarell, sans-serif';font-size: 22px;font-weight: bold;"><%= @question.title %></h5>
    <p style="font-family: 'Josefin Slab', serif; font-weight:bold;"><%= @question.content %></p>
    <div class="row">
      <% if current_user !=nil %>
      <%if can? :update,@question%>
      <%= link_to ('<i class="material-icons right">create</i>').html_safe, edit_question_path(@question)%>
      <% end %>
      <% end %>
      <% if current_user !=nil %>
      <%if can? :destroy,@question%>
      <%= link_to ('<i class="material-icons right">delete</i>').html_safe, @question, method: :delete, data: {confirm: "Are you sure?"}%>
      <% end %>
      <% end %>
      <% if current_user !=nil %>
      <% if @question.follow_string(current_user.id,@question.id)== true%>
      <%= link_to(('<span class="">Unfollow</span>').html_safe, question_follow_path(@question), remote:true,method: :post,id: "follow_#{@question.id}",:class =>"waves-effect waves-light btn follow right") %>
      <%else%>
      <%= link_to(('<span class="">follow</span>').html_safe, question_follow_path(@question), remote:true,method: :post,id: "follow_#{@question.id}",:class =>"waves-effect waves-light btn follow right") %>
      <%end%>
      <%end%>
    </div>
  </div>
</div>

<div class="createAnswer">
<%= form_for @answer, :url => answers_path(question_id:@question.id), remote: true do |task|%>
  <% if @answer.errors.any? %>
  <% @answer.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  <% end %>
  <div class="field">
    <%= task.label :content %><br>
  </div>
  <div>
    <%= task.cktext_area :content, rows: 10,id: 'ckeditid' %>
  </div>
  <div class="actions">
    <%= task.submit id: 'create_answer_submit', class: 'btn right'%>
  </div>
  <% end %>
</div>

<div id="answers">
  <div class="row">
    <%if @answerfeed.length>0%>
    <% @answerfeed.each do |answer| %>
    <div class="col s12 m12 l12">
      <%@comment = Comment.new(answer_id: params[answer.id])%>
      <% @commentfeed= answer.commentfeed answer.id %>
      <%= render 'answer' , answer: answer %>
    </div>
    <% end %>
    <%end%>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  <% if current_user!=nil %>
  $("#create_answer_submit").click(function(){
    setTimeout(function(){ CKEDITOR.instances['ckeditid'].setData('');}, 50);
    noty({
      text: 'You successfully posted a new Answer!',
      type: 'success',
      timeout: 3500,
      progressBar: true
    });
    $('html,body').animate({
      scrollTop: $(".card-content").offset().top},
      'slow');
  });
  <% else%>
  $("#create_answer_submit").click(function(){
    noty({
      text: 'You must login or signup before answering a question!!',
      type: 'error',
      timeout: 3500,
      progressBar: true
    });
    $('#log_in_modal').click();

  });
  <% end %>
</script>
