<%= form_for(@note) do |f| %>

  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card z-depth-4 center" style="border-radius: 10px;">
  <div class="green darken-3 z-depth-4" style="padding-bottom:20px;">
    <br>
    <span class="card-title white-text">Edit Note</span>
    <br>
  </div>
  <form>
    <div class="col s12" style="padding:40px;">
<br>
<br>
      <div class="input-field">
        <%= f.text_field :title ,class:"validate"%>
        <label for="note_title" data-error="wrong" data-success="right">Title</label>
      </div>
       <div class="input-field">
        <%= f.text_area :content ,class:'validate materialize-textarea'%>
        <label for="notecontent_" data-error="wrong" data-success="right">Content</label>
      </div>
    </div>
    <br>
    <div class="action" style="padding:40px;">
      <%= f.submit "Save" , class:"waves-effect waves-light btn green darken-3"%>
      <%= link_to 'Back', notes_path , class:"waves-effect waves-light btn green darken-3"%>
    </div>
  </form>
</div>
<% end %>

<script type="text/javascript">
  $('.tooltipped').tooltip({delay: 50});
</script>
