<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <% if alert %>
  <script type="text/javascript">
    noty({text: '<%= devise_error_messages! %>', type: 'error', timeout: 2500, progressBar: true});
  </script>
  <% end %>
<div class="card z-depth-4 center">
  <div class="green darken-3 z-depth-4" style="padding-bottom:20px;">
    <br>
    <span class="card-title white-text">Update Profile</span>
    <br>
  </div>
  <form>
    <div class="col s12" style="padding:40px;">
<br>
<br>
      <div class="input-field">
        <%= f.text_field :name ,class:"validate"%>
        <label for="user_name" data-error="wrong" data-success="right">Name</label>
      </div>

      <div class="input-field">
        <%= f.email_field :email ,class:"validate"%>
        <label for="user_email" data-error="wrong" data-success="right">Email</label>
      </div>
      <div class="input-field">
       <%= f.text_field :bio ,class:"validate"%>
        <label for="user_bio" data-error="wrong" data-success="right">Headline</label>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-field">
   
    <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>
     <label for="user_password" data-error="wrong" data-success="right">Password</label>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.label :current_password %>
    <i>(we need your current password to confirm your changes)</i> 
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
    </div>
    <br>
    <div class="file-field input-field" style="padding:40px;">
      <div class="waves-effect waves-light btn green darken-3">
        <span>Browse photo</span>
        <%= f.file_field :avatar %>
      </div>
    </div>
    <br>
    <div class="action" style="padding:40px;">
      <%= f.submit "Save" , class:"waves-effect waves-light btn green darken-3"%>
    </div>
<br>
<br>
  </form>
</div>
<% end %>



