<div class='row'>
  <div class='col-xs-8'>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Crop Avatar</h3>
      </div>
      <div class="panel-body">
        <%= image_tag @user.avatar_url(:large), id: "cropbox" %>
        <br>
        <%= form_for(@user) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.hidden_field "crop_#{attribute}", as: :hidden %>
          <% end %>

          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class='col-xs-4'>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Preview</h3>
      </div>
      <div class="panel-body">
        <div style="width:100px; height:100px; overflow:hidden">
          <%= image_tag @user.avatar.url(:large), id: "preview" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
 var AvatarCropper;
AvatarCropper = (function() {
  function AvatarCropper() {
    $('#cropbox').Jcrop()(function() {
      return {
        aspectRatio: 1,
        setSelect: [0, 0, 500, 500],
        onSelect: this.update,
        onChange: this.update
      };
    });
    ({
      update: (function(_this) {
        return function(coords) {
          $('#user_crop_x').val(coords.x);
          $('#user_crop_y').val(coords.y);
          $('#user_crop_w').val(coords.w);
          $('#user_crop_h').val(coords.h);
          return _this.updatePreview(coords);
        };
      })(this),
      updatePreview: (function(_this) {
        return function(coords) {
          return $('#preview').css({
            width: Math.round(100 / coords.w * $('#cropbox').width()) + 'px',
            height: Math.round(100 / coords.h * $('#cropbox').height()) + 'px',
            marginLeft: '-' + Math.round(100 / coords.w * coords.x) + 'px',
            marginTop: '-' + Math.round(100 / coords.h * coords.y) + 'px'
          });
        };
      })(this)
    });
  }

  return AvatarCropper;

})();
</script>