 <!-- ########################################################################################################## 

                                       PROFILE PAGE
                                          
 ########################################################################################################### -->
<head>
  <style type="text/css">
    /* Imports */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
    *, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }
    .cad1{
      background: #E2e2e2;
      color: #333;
      font-weight: normal;
      font-size: 1em;
      font-family: 'Roboto', Arial, sans-serif;
      margin-top: 20px;
    }
    .row{
      margin-bottom: 0px;
    }
    .card1 .rowone{
      padding: 20px;
      background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
      border-radius: 10px;
    }
    .card1 .rowone .first,    .card1 .rowone .second{
      padding: 0 10px 0 0;
    }
    .card1 .rowone .first{
      line-height: 35px;
      position: relative;
      border-right:1px solid #a2a2a2;
      float: left;
    }

    .card1 .rowone .col.s12.first{
      line-height: 23px;
      border-right: 0px;

    }
    .card1 .rowone .second{
      float: right;
    }
    .card1 .rowone .first h3{
      font-weight: normal;
      font-size: 2em;
      margin-bottom: 10px;
      margin-top: 0.5rem;
      text-transform: capitalize;
    }
    .card1 .rowone .first p{
      font-size: 14px;
    }
    .card1 .rowone .first span.spanfollow{
      position: absolute;
      right: 15px;
      top: 16px;
      background: #fff;
      padding: 5px 11px;
      font-size: 12px;
      line-height: 1;
      border-radius: 10px;
      color: #fff;
      cursor:pointer;
    }
    html body div#mithu.container div.row div.col.s12.m12.l7 div div.col.l12 div.card1.z-depth-4 div.row.rowone div.col.s12.l6.first div.col.l8.s12.desc{
      padding-left: 40px;
      color: #5d5555;
    }
    .card1 .rowone .first img {
      border-radius: 50%;
      /*    margin: 0 20px;*/
      width: 120px;
      border:2px solid #f1f1f1;
      padding: 2px;
      float: left;
    }
    .card1 .rowone .first .col.l3{
      margin-right: 20px;

    }
    .rowtwo .one,.rowtwo .two,.rowtwo .three{
      float: left;
      /*            margin-right: 11px;*/
    }

    .card1 .rowone .second .col span>a{
      color: #878080;
      font-size: 14px;
    }
    .card1 .rowone .second .col h1 {
      color: #ef5350;
    }
    .card1 .rowone .second .col.s4 h1{
      font-size: 2.2rem;
    }

    .card1 .rowone .second .col {
      text-align: center;
      line-height: 30px;
      border-right: 1px solid #9c9797;
    }
    .card1 .rowone .second .col.three {
      border-right: 0;
    }
    @media only screen and (max-width: 1300px) {
      .card1 .rowone .col.s4 {

      }
      .card1 .rowone .second .col.three {
        margin-right: 0;
      }
    }

    @media only screen and (max-width: 1060px) {
      .card1 .rowone .second,.card1 .rowone .first {
        width: 100%;
        border-right:0 !important;
        padding: 0;
      }
    }

    @media only screen and (max-width: 660px) {
      .card1 .rowone .first {
        text-align: center;
      }
      .card1 .rowone .first img {
        display: inline-block;
        float: none;
      }
      .card1 .rowone .first span a {
        position: relative;
        right: 0;
      }
      .card1 .rowone .second {
        margin-top:25px;
      }
    }
    @media only screen and (max-width: 450px) {


      .card1 .rowone .second .col.s4 span a{
        font-size: 10px;
      }
      .card1 .rowone .second .col.s4 h1 {
        font-size: 18px;
      }

    }
    #tabs-swipe-demo a{color:#d32f2f;
    }
    #tabs-swipe-demo a.active{
      /*background-color: #FFAB40 ;*/
      color:#fff;
      background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    }
    #tabs-swipe-demo a:hover{
      background-color: #ffecb3 ;

    }
    ul#tabs-swipe-demo.tabs.z-depth-5{
      border-radius: 10px;
    }


    #follow-swipe-3,  #follow-swipe-2{
      padding: 0px;
      border: 1px solid #d1d1d1;
      border-radius: 6px;
    }
    .user-list-wrapper {

      max-width: 100%;
      margin:  0;
    }

    .user-list-wrapper .list {
     background: #fff;
     border-radius: 2px;
     list-style: none;
     padding: 0px 20px;
   }

   .user-list-wrapper .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .user-list-wrapper .list-item:last-child {
    border-bottom: none;
  }
  .user-list-wrapper .list-item-image {
    border-radius: 50%;
    width: 64px;
  }
  .user-list-wrapper .list-item-content {
    margin-left: 20px;
    width: 100%;
  }
  .user-list-wrapper .list-item-content h4, .user-list-wrapper .list-item-content p {
    margin: 0;
  }
  .user-list-wrapper .list-item-content h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  .user-list-wrapper .list-item-content p {
    margin-top: 5px;
    color: #aaa;
  }

  .apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
    height: 75px;
    bottom: 0px;
    display: flow-root; 
    width: 100%;}
    .apple_pagination a, .apple_pagination span {
      padding: 0.2em 0.3em; }
      .apple_pagination .disabled {
        color: #aaaaaa; }
        .apple_pagination .current {
          font-style: normal;
          font-weight: bold;
          background-color: #bebebe;
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          line-height: 1.5;
          -moz-border-radius: 1em;
          -webkit-border-radius: 1em;
          border-radius: 1em;
          text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
          .apple_pagination a {
            text-decoration: none;
            color: black; }
            .apple_pagination a:hover, .apple_pagination a:focus {
              text-decoration: underline; }

            </style>
          </head>
          <div>
            <div class="col l12">
              <div class="card1 z-depth-4 ">
                <div class="row rowone">
                  <div class="col s12 l6 first ">
                    <div class="col l3 s12"><%= avatar_for(@user,size: 120) %></div>
                    <div class="col l8 s12 desc">    <h3><%= @user.name %></h3>
                      <%if @user != current_user%>
                      <span class="spanfollow"><% if @user.follow_string(current_user.id,@user.id)== true%>
                        <%= link_to('Unfollow', user_follow_path(@user), remote:true,method: :post,class: "follow1_#{@user.id}") %>
                        <%else%>
                        <%= link_to('follow', user_follow_path(@user), remote:true,method: :post,class: "follow1_#{@user.id}") %>
                        <%end%></span>
                        <% end %>
                        <p><%= @user.bio %></p>
                      </div>
                    </div>
                    <div class="col l6 s12 second">
                      <div class="row rowtwo">
                        <div class="col l4 s4 one">
                          <h1><%= @user.followees(User).count %></h1>
                          <span><a href="#follow-swipe-2">Following</a></span></div>
                          <div class="col l4 s4 two">
                            <h1><%= @user.followers(User).count %></h1>
                            <span><a href="#follow-swipe-3">Followers</a></span></div>
                            <div class="col l3 s4 three"><h1><%= @user.questions.count %></h1>
                             <span><a href="#ques-swipe-1">Questions</a></span></div>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <br>
                 <br>
                 <div class="row">
                  <div class="col s12">
                    <ul id="tabs-swipe-demo" class="tabs z-depth-5">
                      <li class="tab col s3"><a class="active" href="#ques-swipe-1">QUESTIONS</a></li>
                      <li class="tab col s3"><a href="#follow-swipe-2">FOLLOWINGS</a></li>
                      <li class="tab col s3"><a href="#follow-swipe-3">FOLLOWERS</a></li>
                      <%if @user == current_user%>
                      <li class="tab col s3"><a href="#profile-swipe-4">PROFILE</a></li>
                      <% end %>
                    </ul>
                    <br>
                    <div id="ques-swipe-1" class="col s12 ">
                      <%@question.reverse.each do |q|%>
                      <div class="col s12 m12 l6 ">
                        <div class="card z-depth-4 hoverable" style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);border-radius: 8px;">
                          <div class="card-content white-text">
                            <span class="card-title truncate"><%=q.title%></span>
                            <p class="truncate"><%=q.content%></p>
                          </div>
                          <div class="card-action" style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">
                            <%= link_to 'Show', q ,params[id: q.id]%>
                            <div class="right">
                             <%if @user == current_user%>
                             <%= link_to ('<i class="material-icons right">create</i>').html_safe, edit_question_path(q) %>
                             <%end%>
                             <%if @user == current_user%>
                             <%= link_to ('<i class="material-icons right">delete</i>').html_safe, q, method: :delete, data: {confirm: "Are you sure?"}%>
                             <%end%>
                           </div>
                         </div>
                       </div>
                     </div>
                     <%end%>
                     <div class="apple_pagination">
                      <div class="page_info">
                        <%= page_entries_info @question %>
                      </div>
                      <%= will_paginate @question, :container => false %>
                    </div>
                  </div>
                </div>
                <div id="follow-swipe-2" class="col s12 white">
                 <div class="user-list-wrapper">
                  <ul class="list">
                   <%@user.followees(User).each do |f|%>
                   <li class="list-item">
                    <div>
                      <%= avatar_for(f,size: 40) %>
                    </div>
                    <div class="list-item-content">
                      <h4><%= link_to f.name,user_path(f.id) %></h4>
                      <span class="right">   <% if f.follow_string(current_user.id,f.id)== true%>
                        <%= link_to('Unfollow', user_follow_path(f), remote:true,method: :post,class: "follow1_#{f.id}") %>
                        <%else%>
                        <%= link_to('follow', user_follow_path(f), remote:true,method: :post,class: "follow1_#{f.id}") %>
                        <%end%></span>
                        <p><%= f.email%></p>
                      </div>
                    </li>   
                    <%end%>
                  </ul>
                </div>
              </div>
              <div id="follow-swipe-3" class="col s12 white">
                <div class="user-list-wrapper">
                  <ul class="list">
                   <%@user.followers(User).each do |f|%>
                   <li class="list-item">
                    <div>
                      <%= avatar_for(f,size: 40) %>
                    </div>
                    <div class="list-item-content">
                      <h4><%= link_to f.name,user_path(f.id) %></h4>
                      <span class="right">   <% if f.follow_string(current_user.id,f.id)== true%>
                        <%= link_to('Unfollow', user_follow_path(f), remote:true,method: :post,class: "follow1_#{f.id}") %>
                        <%else%>
                        <%= link_to('follow', user_follow_path(f), remote:true,method: :post,class: "follow1_#{f.id}") %>
                        <%end%></span>
                        <p><%= f.email%></p>
                      </div>
                    </li>   
                    <%end%>
                  </ul>
                </div>
              </div>
              <%if @user == current_user%>
              <div id="profile-swipe-4" class="col s12">
                <%= render :partial => 'users/edit'%>
              </div>
              <% end %>
            </div>
          </div>
        </div>