<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>HOME</title>
  <style media="screen">
    .apple_pagination {
      background: #f1f1f1;
      border: 1px solid #e5e5e5;
      text-align: center;
      padding: 1em;
      cursor: default;
    }

    .apple_pagination a, .apple_pagination span {
      padding: 0.2em 0.3em;
    }

    .apple_pagination .disabled {
      color: #aaaaaa;
    }

    .apple_pagination .current {
      font-style: normal;
      font-weight: bold;
      background-color: #bebebe;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.5;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
    }

    .apple_pagination a {
      text-decoration: none;
      color: black;
    }

    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline;
    }

    div#modal2.modal.modal-fixed-footer.open div.createQuestion div.modal-content span h4 {
      margin-bottom: 0;
    }

    div#modal2.modal.modal-fixed-footer.open div.createQuestion div.modal-footer div.actions.modal-action.modal-close.waves-effect.waves-green.cyan.btn-flat {
      padding: 0;
      border-radius: 25px;
    }

    div#modal2.modal.modal-fixed-footer.open div.createQuestion div.modal-footer div.actions.modal-action.modal-close.waves-effect.waves-green.cyan.btn-flat input#create_question_submit {
      padding-top: 10px;
    }
  </style>
</head>
<body>
 <!-- ##################################  MODALFOR ASKING NEW QUESTION  ########################################-->
 <div id="modal2" class="modal modal-fixed-footer">
  <div class="createQuestion">
    <%= form_for @question, remote: true do |task| %>
    <div class="modal-content">
      <span><h4 style="display: inline-block;">ASK QUESTION</h4>
        <button class="modal-action modal-close waves-effect waves-green transparent btn-flat right" style="display: inline-block;padding: 0;"><i class="material-icons">close</i></button>
      </span>
      <div class="input-field">
        <%= task.hidden_field :title, class: 'validate', id: 'title' %>
      </div>
      <div class="input-field">
        <%= task.text_area :content, class: 'validate materialize-textarea', id: 'content' %><br>
        <%= task.label :Question, for: 'content' %><br>
      </div>
      <div class="input-field">
        <%= task.label :tag_list, "Tags (separated by commas)" %>
        <%= task.text_field :tag_list %>
      </div>
    </div>
    <div class="modal-footer">
      <div class="actions modal-action modal-close waves-effect waves-green cyan btn-flat">
        <%= task.submit id: 'create_question_submit' %>
      </div>
    </div>
    <% end %>
    <% if @question.errors.any? %>
    <% @question.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    <% end %>
  </div>
</div>
<!-- ***********************************  MODALFOR ASKING NEW QUESTION ENDS  ***************************************  -->

<div id="questions">
  <a class="modal-trigger" href="#modal2">
    <div class=card class="z-depth-1" style="width: 93%; height: 60px;margin-bottom: 0; margin-top: 10px;margin-left: 25px; padding-left: 24px;padding-top: 0.5px; background: #ffffff;border: 2px solid #949599;">
      <a class="modal-trigger" href="#modal2" style="color: #949599; margin-bottom: 10px;"><h5>Ask Your Question</h5>
      </a>
    </div>
  </a>
  <div class="row">
    <% unless @trend.nil? %>
    <div class="chip" style="margin-top: 25px;margin-left: 50px;font-size: 30px;">
      <%= @trend.name %>
    </div>

    <% if @trend.follow_string(current_user.id, @trend.id)== true %>
    <%= link_to(('<i class="material-icons tagicon">check</i>').html_safe, trend_follow_path(@trend), remote: true, method: :post, class: "follow1_#{@trend.id}") %>
    <% else %>
    <%= link_to(('<i class="material-icons tagicon">add</i>').html_safe, trend_follow_path(@trend), remote: true, method: :post, class: "follow1_#{@trend.id}") %>
    <% end %>
    <% end %>

    <% if @users!=nil %>
    <% @users.each do |u| %>
    <%= render 'user_list', user: u %>
    <% end %>
    <% end %>

    <!-- ##################################  ALL SEARCHED QUESTION ########################################-->


    <% if @feed!=nil %>
    <% @feed.each do |question| %>
    <div class="col s12 m12 l12">
      <%= render 'question', question: question %>
    </div>
    <% end %>
    <%end%>

  </div>

  <!-- ##################################  PAGINATION ########################################-->

  <% if @feed!=nil %>
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @feed %>
    </div>
    <%= will_paginate @feed, :container => false %>
  </div>
  <%end%>

</div>

<script type="text/javascript">
  $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('#modal2').on('click', function () {
        });

        $('#modal2').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: 0, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
          });

        $('#modal2').modal('open');
        $('.trigger-modal').modal();
        $('#modal2').modal('close');
        $('input#title, textarea#content').characterCounter();
      });
    </script>
    <script type="text/javascript" charset="utf-8">
      <% if current_user!=nil %>
      $("#create_question_submit").click(function () {
        noty({
          text: 'You Successfully posted a new question',
          type: 'alert',

          progressBar: true
        });
      });
      <% else%>
      $("#create_question_submit").click(function () {
        noty({
          text: 'You must login or signup before raising a question!!',
          type: 'error',

          progressBar: true
        });
        $('#log_in_modal').click();

      });
      <% end %>
    </script>

  </body>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>HOME</title>
    <style media="screen">
      .apple_pagination {
        background: #f1f1f1;
        border: 1px solid #e5e5e5;
        text-align: center;
        padding: 1em;
        cursor: default;
      }

      .apple_pagination a, .apple_pagination span {
        padding: 0.2em 0.3em;
      }

      .apple_pagination .disabled {
        color: #aaaaaa;
      }

      .apple_pagination .current {
        font-style: normal;
        font-weight: bold;
        background-color: #bebebe;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.5;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
      }

      .apple_pagination a {
        text-decoration: none;
        color: black;
      }

      .apple_pagination a:hover, .apple_pagination a:focus {
        text-decoration: underline;
      }

      div#modal2.modal.modal-fixed-footer.open div.createQuestion div.modal-content span h4 {
        margin-bottom: 0;
      }

      div#modal2.modal.modal-fixed-footer.open div.createQuestion div.modal-footer div.actions.modal-action.modal-close.waves-effect.waves-green.cyan.btn-flat {
        padding: 0;
        border-radius: 25px;
      }

      div#modal2.modal.modal-fixed-footer.open div.createQuestion div.modal-footer div.actions.modal-action.modal-close.waves-effect.waves-green.cyan.btn-flat input#create_question_submit {
        padding-top: 10px;
      }
    </style>
  </head>
  <body>
   <!-- ##################################  MODALFOR ASKING NEW QUESTION  ########################################-->
   <div id="modal2" class="modal modal-fixed-footer">
    <div class="createQuestion">
      <%= form_for @question, remote: true do |task| %>
      <div class="modal-content">
        <span><h4 style="display: inline-block;">ASK QUESTION</h4>
          <button class="modal-action modal-close waves-effect waves-green transparent btn-flat right" style="display: inline-block;padding: 0;"><i class="material-icons">close</i></button>
        </span>
        <div class="input-field">
          <%= task.hidden_field :title, class: 'validate', id: 'title' %>
        </div>
        <div class="input-field">
          <%= task.text_area :content, class: 'validate materialize-textarea', id: 'content' %><br>
          <%= task.label :Question, for: 'content' %><br>
        </div>
        <div class="input-field">
          <%= task.label :tag_list, "Tags (separated by commas)" %>
          <%= task.text_field :tag_list %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="actions modal-action modal-close waves-effect waves-green cyan btn-flat">
          <%= task.submit id: 'create_question_submit' %>
        </div>
      </div>
      <% end %>
      <% if @question.errors.any? %>
      <% @question.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>
    </div>
  </div>
  <!-- ***********************************  MODALFOR ASKING NEW QUESTION ENDS  ***************************************  -->

  <div id="questions">
    <a class="modal-trigger" href="#modal2">
      <div class=card class="z-depth-1" style="width: 93%; height: 60px;margin-bottom: 0; margin-top: 10px;margin-left: 25px; padding-left: 24px;padding-top: 0.5px; background: #ffffff;border: 2px solid #949599;">
        <a class="modal-trigger" href="#modal2" style="color: #949599; margin-bottom: 10px;"><h5>Ask Your Question</h5>
        </a>
      </div>
    </a>
    <div class="row">
      <% unless @trend.nil? %>
      <div class="chip" style="margin-top: 25px;margin-left: 50px;font-size: 30px;">
        <%= @trend.name %>
      </div>

      <% if @trend.follow_string(current_user.id, @trend.id)== true %>
      <%= link_to(('<i class="material-icons tagicon">check</i>').html_safe, trend_follow_path(@trend), remote: true, method: :post, class: "follow1_#{@trend.id}") %>
      <% else %>
      <%= link_to(('<i class="material-icons tagicon">add</i>').html_safe, trend_follow_path(@trend), remote: true, method: :post, class: "follow1_#{@trend.id}") %>
      <% end %>
      <% end %>

      <% if @users!=nil %>
      <% @users.each do |u| %>
      <%= render 'user_list', user: u %>
      <% end %>
      <% end %>

      <!-- ##################################  ALL SEARCHED QUESTION ########################################-->


      <% if @feed!=nil %>
      <% @feed.each do |question| %>
      <div class="col s12 m12 l12">
        <%= render 'question', question: question %>
      </div>
      <% end %>
      <%end%>

    </div>

    <!-- ##################################  PAGINATION ########################################-->

    <% if @feed!=nil %>
    <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @feed %>
      </div>
      <%= will_paginate @feed, :container => false %>
    </div>
    <%end%>

  </div>

  <script type="text/javascript">
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('#modal2').on('click', function () {
        });

        $('#modal2').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: 0, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
          });

        $('#modal2').modal('open');
        $('.trigger-modal').modal();
        $('#modal2').modal('close');
        $('input#title, textarea#content').characterCounter();
      });
    </script>
    <script type="text/javascript" charset="utf-8">
      <% if current_user!=nil %>
      $("#create_question_submit").click(function () {
        noty({
          text: 'You Successfully posted a new question',
          type: 'alert',

          progressBar: true
        });
      });
      <% else%>
      $("#create_question_submit").click(function () {
        noty({
          text: 'You must login or signup before raising a question!!',
          type: 'error',

          progressBar: true
        });
        $('#log_in_modal').click();

      });
      <% end %>
    </script>

  </body>
