
<head>
  <style type="text/css">
    /* Imports */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
    @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
    #cardques.card{

     background: #4DA0B0;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to left, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to left, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     margin-bottom: 10px;
     transition-duration: 0.3s;
     transition-property: box-shadow;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     transform: translateZ(3);
   }

   div#cardques.card:hover {
    box-shadow: 0 12px 12px rgba(0, 0, .6, .6);
  }
  #cardques .card-title{
    padding:1rem;
    border-bottom: 0px;
  }

  #cardques .card-title .fakeimage {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100%;
  }
  #cardques .card-title h2,  .card-title .wrap > p {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    color: #222;
  }
  #cardques .card-title p {
    margin-right: 10px;
    margin-left: 10px;
    font-family: Lato, sans-serif;
    font-size: 0.9em;
    color: #aaa;
    float: left;
  }
  #cardques .card-title #quesuserdetail{
    margin-left: 65px;
    margin-top: 12px;

  }
  #cardques .card-title #quesuserdetail h4{
    font-family: 'Fresca', sans-serif;
    font-size: 1.5rem;
    line-height: 91%;
    margin: 0;
  }
  #cardques .card-title #quesuserdetail p{
    font-size: 16px;
    line-height: 91%;
    margin: 0;
  }
  div#quescontent{
    padding-top: 0px;
    padding-bottom: 2px;
  }
  div#quescontent h5{
    margin-top: 0;
    margin-bottom: 3px;
    color: #696a6e;
  }
  div#quescontent p{
    color: #6f6f6f;
  }
  .card{
    transition-duration: 0.3s;
    transition-property: box-shadow;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(3);
  }
  div.card:hover {
    box-shadow: 0 12px 12px rgba(0, 0, .6, .6);
  }
  .card-title{
    padding:1rem;
    border-bottom: 0px;
    font-size: 19px;
    font-weight: 300;
  }
  .card-title .fakeimage {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 100%;
  }
  .card-title h2,  .card-title .wrap > p {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    color: #222;
  }
  .card-title p {
    color: #696a6e;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Lato, sans-serif;
    font-size: 0.9em;
    color: #aaa;
    float: left;
  }
  .card-title h5#head{
    color: #696a6e;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 110%;
    margin: 0 0 0 0;
  }
  .card-title p#head{
    color: #696a6e;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card-title p i {
    color: #696a6e;
    margin-right: 0;
    margin-left: 0;
    font-family: Lato, sans-serif;
    font-size: 0.7em;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-content.grey-text.text-darken-3{
    padding: 24px;
    padding-top: 0px;
    padding-bottom: 24px;
    border-radius: 0 0 2px 2px;
    padding-bottom: 2px;
    padding-top: 0px;
  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-title.row{
    margin-bottom:0px;
  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-title.row div.left.details{
    margin-left: 10px;

  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-content.grey-text.text-darken-3 div.row a i.material-icons.right{
    color:#949599;
  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div.row div.col.s12.m12.l12 div.answer div.userDetail div.card div.card-content.grey-text.text-darken-3 div.row a i.material-icons.right:hover{
    color:#0091ea;
  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#answers div#modal1.modal.modal-fixed-footer.open div.modal-footer{
    height: 122px;
  }
  .modal .modal-footer .btn-flat{
    background-color: #81d4fa;
  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#cardques.card.hoverable div#quescontent.card-content.grey-text div.row a.waves-effect.waves-light.btn.follow.right{
    color: #fff;
    background-color: #949599;
    border: none;
    border-radius: 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
    text-transform: uppercase;
    vertical-align: middle;
  }
  html body div#mithu.container div.row div.col.s12.m12.l7 div#cardques.card.hoverable div#quescontent.card-content.grey-text div.row a.waves-effect.waves-light.btn.follow.right:hover{
   color: #fff;
   background-color:#00b8d4 ;
   z-index: 8000;
 }
</style>

</head>
<div id="cardques" class="card hoverable">
  <div class="card-title">
    <div class="fakeimage">
      <div class="circle responsive-img valign profile-image"><%=avatar_for(@answer.question.user,size: 40)%></div>
    </div>
    <div id="quesuserdetail">
      <h4><%= link_to @answer.question.user.name,user_path(@answer.question.user.id) %></h4>
      <p ><%= time_ago_in_words(@answer.question.created_at) unless @answer.question.created_at.blank? %> ago</p>
    </div>
  </div>
  <br>
  <div id="quescontent" class="card-content grey-text">
    <h5 style=" font-family: 'Cantarell, sans-serif';font-size: 22px;font-weight: bold;"><%= @answer.question.title %></h5>
    <p style="font-family: 'Josefin Slab', serif; font-weight:bold;"><%= @answer.question.content %></p>
    <div class="row">
      <%if can? :update,@answer.question%>
      <%= link_to ('<i class="material-icons right">create</i>').html_safe, edit_question_path(@answer.question)%>
      <% end %>
      <%if can? :destroy,@answer.question%>
      <%= link_to ('<i class="material-icons right">delete</i>').html_safe, @answer.question, method: :delete, data: {confirm: "Are you sure?"}%>
      <% end %>
      <% if @answer.question.follow_string(current_user.id,@answer.question.id)== true%>
      <%= link_to(('<span class="">Unfollow</span>').html_safe, question_follow_path(@answer.question), remote:true,method: :post,id: "follow_#{@answer.question.id}",:class =>"waves-effect waves-light btn follow right") %>
      <%else%>
      <%= link_to(('<span class="">follow</span>').html_safe, question_follow_path(@answer.question), remote:true,method: :post,id: "follow_#{@answer.question.id}",:class =>"waves-effect waves-light btn follow right") %>
      <%end%>
    </div>
  </div>
</div>


<div class="answer">
  <div class="userDetail">
    <div class="card hoverable">
      <div class="card-title row" style="padding-bottom: 0px;">
        <div class="fakeimage left" style="margin-left: 10px;">
          <div class="picture"><%=avatar_for(@answer.user,size: 40)%></div>
        </div>
        <div class="left details">
          <h5 id="head"><%= @answer.user.name %></h5>
          <p id="head" style="font-weight: 700"><%= time_ago_in_words(@answer.created_at) unless @answer.created_at.blank? %> ago</p>
          <br>
        </div>
      </div>
      <div class="card-content grey-text text-darken-3" style="padding-top: 0px; padding-bottom: 5px;">
        <p style="font-family: Lato"><%= raw @answer.content %></p>
        <br>
        <div class="row" style="padding-bottom: 0px;">
          <%= link_to ('<i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Comment">forum</i>').html_safe, @answer ,params[id: @answer.id]%></button>
          <%if can? :update,@answer%>
          <%= link_to ('<i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Edit Answer">create</i>').html_safe,edit_answer_path(@answer) %>
          <% end %>
          <%if can? :destroy,@answer%>
          <%= link_to ('<i class="material-icons tooltipped right" data-position="bottom" data-delay="50" data-tooltip="Delete">delete</i>').html_safe, @answer, method: :delete, data: {confirm: "Are you sure?"}%>
          <% end %>
          <a class="waves-effect waves-light grey btn tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Comment" href="#modal1">Comment</a>
          <% if @answer.like_string(current_user.id,@answer.id)== true%>
          <%= link_to ('<i class="material-icons right" >favorite</i>').html_safe, answer_like_path(@answer), remote:true,method: :post ,id: "like_#{@answer.id}" %>
          <%else%>
          <%= link_to ('<i class="material-icons right" >favorite_border</i>').html_safe, answer_like_path(@answer), remote:true,method: :post ,id: "like_#{@answer.id}" %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div id="comments">
      <% @commentfeed.each do |comment| %>
      <%= render 'comment' , comment: comment %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <div class="createComment">
      <%= form_for @comment, :url => comments_path(answer_id:@answer.id), remote: true do |task|%>
      <%= task.label :comment %><br>
      <%= task.text_area :content %><br>
      <div class="actions">
        <%= task.submit id: 'create_comment_submit', class:"modal-action modal-close waves-effect waves-green btn-flat"%>
      </div>
      <% end %>
      <% if @comment.errors.any? %>
      <% @comment.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('#modal1').modal();
        $('#modal1').on('click', function () {
        });
        $('#modal1').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: 0, // Opacity of modal background
      inDuration: 300, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
    });
        $('#modal1').modal('open');
        $('.trigger-modal').modal();
        $('#modal1').modal('close');
        $('.tooltipped').tooltip({delay: 50});
      });
    </script>