<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<style>
  #submitbutton{
    margin-right: 550px;
  }
</style>
<%= form_for(@survey, url: survey_scope(@survey), html: { class: 'survey-form clearfix' }, validate: true) do |f| %>

<div class='field'>
  <div class='row'>
    <div class='form-group col-sm-4'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control',id: 'name',placeholder: 'Name of test' %>
    </div>
    <div class='form-group col-sm-4'>
      <%= f.label :attempts_number, 'Maximum number of attempts (0 is infinite)' %>
      <%= f.number_field :attempts_number, min: 0, class: 'form-control' %>
    </div>
    <div class='form-group col-sm-2'>
      <%= f.label :active %>
      <%= f.select :active, ['true', 'false'], {}, class: 'form-control' %>
    </div>
    <div class='form-group col-sm-2'>

      <div class="input-group date" id="datetimepicker1">
        <label for="">Time</label>
        <input type="text" class="form-control" id="timepick" name="period"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="randomcount">Count of questions for test</label>
        <input type="number" class="form-control" name="randomcount" id="randomcount" placeholder="How many questions you want to appear at the time of test in random order">
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-sm-12'>
        <%= f.label :description %>
        <%= f.text_area :description, size: '100x5', class: 'form-control', style: 'max-width: 100%;',id: 'desc' ,placeholder: 'Description of the test'%>
      </div>
    </div>


    <ol  class='appendable'>

      <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', :f=> builder %>

      <% end -%>

    </ol>

    <%= link_to_add_field 'Add a new Question', f, :questions, 'btn btn-info btn-lg ' %>
    <%= f.submit 'Submit', class: 'disabled pull-right btn btn-success btn-lg', id: 'submitbutton' %>
  </div>

  <% end -%>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('#add-attach').click();
  });
  var c=$('.form-control');
  var que=$('.ques');
  var check=0;
  var check1=0;

  setInterval(function () {
    for(var i=0;i<c.length;i++){
      if(c[i].value==='' ){
        check = 0;
        break;
      } else {
        check=1;
      }
    }
    for(var i =0 ; i<$('.ques').length;i++){
      if($('.ques')[i].style.display=='none'){
          check1=0;
      } else {
          check1 =1;
          break;
      }
    }

    if(check==1){
        if(check1==1){
            $('#submitbutton').removeClass('disabled');
//            console.log("lll");
        } else {
            $('#submitbutton').addClass('disabled');
        }
    } else {
      $('#submitbutton').addClass('disabled');
    }
    console.log(check,check1);
  },1);
//  setInterval(function () {
//      for(var i =0 ; i<que.length;i++){
//      if(que[i].value==='<>'){
//          check1=0;
//      } else if(que[i].value!=='<>'){
//          check1 =1;
//          break;
//      }
//      console.log(que);
//    }
//      if(check1==1 ){
//          $('#submitbutton').removeClass('disabled');
//      } else {
//          $('#submitbutton').addClass('disabled');
//      }
//  },1);
</script>


<script type="text/javascript">
  $("#datetimepicker1").datetimepicker({
    format: 'HH:mm'
  });
</script>

<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

<script type='text/javascript'>
    // remove attachment field
    function removeField(link) {
      $(link).prev("input[type=hidden]").val("true");
        console.log($(link).prev("input[type=hidden]").context.parentNode.children[1].children[0].children[1].value);
        $(link).prev("input[type=hidden]").context.parentNode.children[1].children[0].children[1].value='<>';
        $(link).prev("input[type=hidden]").context.parentNode.children[1].children[0].children[1].style.display='none';
      tag = $(link).closest(".field")
      tag.hide('slow');

    }
    // add attachment field
    function addField(link, association, content) {
      var new_id = new Date().getTime();
      var regexp = new RegExp("new_" + association, "g");
      var html = $(content.replace(regexp, new_id)).hide();
      var target = $(link).closest("div.field").find(".appendable").first();
      var last_height = 0
      html.appendTo(target).slideDown({
        duration: 'slow',
        progress: function () {
          delta = $(this).outerHeight(true) - last_height+100
          $(window).scrollTop( $(window).scrollTop() + delta );
          last_height = $(this).outerHeight(true);
//          console.log(last_height,delta,$(window).scrollTop());
        },
        complete: function () {
          $(this).find('input[type=text]').focus();
        }});
    }
    function addField1(link, association, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp("new_" + association, "g");
        var html = $(content.replace(regexp, new_id)).hide();
        var target = $(link).closest("div.field").find(".appendable").first();
        var last_height = 0
        html.appendTo(target).slideDown({
            duration: 'slow',
            progress: function () {
                delta = $(this).outerHeight(true) - last_height
                $(window).scrollTop( $(window).scrollTop() + delta );
                last_height = $(this).outerHeight(true);
//                console.log(last_height,delta,$(window).scrollTop());
            },
            complete: function () {
                $(this).find('input[type=text]').focus();
            }});
    }
  </script>
  <script type="text/javascript">
    if(window.location.href.substr(-2) !== "?r") {
      window.location = window.location.href + "?r";
    }
  </script>