<html>
<head>
  <title>AskKaro</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Cantarell|Capriola|Fresca|Josefin+Slab" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    .container {
      width: 90%;
    }
    @media screen and (min-width: 993px) {

      html body div#mithu.container div.row div.col.l7 {
        min-height: 1330px;
      }
    }
    div#modal9 input {
      color: #333;
      transition: none;
    }

    div#modal9.modal.modal-fixed-footer.open div.createQuestion form#new_question.new_question div.modal-content {
      height: 100%;
    }

    div#modal9.modal.modal-fixed-footer.open div.createQuestion div.modal-content span h4 {
      margin-bottom: 0;
    }

    div#modal9.modal.modal-fixed-footer.open div.createQuestion div.modal-footer div.actions.modal-action.modal-close.waves-effect.waves-green.cyan.btn-flat {
      padding: 0;
      border-radius: 25px;
    }

    div#modal9.modal.modal-fixed-footer.open div.createQuestion div.modal-footer div.actions.modal-action.modal-close.waves-effect.waves-green.cyan.btn-flat input#create_question_submit {
      padding-top: 10px;
    }
  </style>
</head>
<body>
  <% if notice %>
  <script type="text/javascript">
    noty({text: '<%= notice %>', type: 'alert', progressBar: true});
  </script>
  <% end %>
  <% if alert %>
  <script type="text/javascript">
    noty({text: '<%= alert %>', type: 'error', progressBar: true});
  </script>
  <% end %>
  <style type="text/css">
    .search-wrapper {
      position: absolute;
      top: 0;
      right: calc(5% - 20px);
      padding: 4px 20px;
    }

    .search-wrapper .search-input {
      font-family: 'Lato', sans-serif;
      border: none;
      background-color: #eeeeee;
      color: #3e3e3e;
      height: 18px;
      width: 280px;
      border-radius: 30px;
      padding: 10px 18px 10px 18px;
      font-size: 14px;
      transition: width .3s ease;
      margin-bottom: 0px;
      margin-top: 4%;
    }

    .search-wrapper .search-input:focus {
      outline: none;
      background-color: #fff;
    }

    .search-wrapper .search-input::-webkit-input-placeholder {
      letter-spacing: 1.5px;
    }

    .search-wrapper .search-input::-moz-placeholder {
      letter-spacing: 1.5px;
    }

    .search-wrapper .search-input:-ms-input-placeholder {
      letter-spacing: 1.5px;
    }

    .search-wrapper .search-icon {
      position: absolute;
      top: 0px;
      right: calc(5% + 18px);
      cursor: pointer;
      right: 0px;
      background: transparent;
      border: none;
      width: 16px;
      height: 20px;
    }

    .search-wrapper .search-iconbtn {
      position: absolute;
      top: 27px;
      right: calc(5% + 18px);
      cursor: pointer;
      right: 34px;
      background: transparent;
      border: none;
      width: 16px;
      height: 20px;
    }
  </style>
  <!-- ####################################  NAVBAR FOR DESKTOP VIEW   ############################################# -->
  <div class="navbar">
    <section class="navigation hide-on-med-and-down">
      <div class="nav-container">
        <div class="brand">
          <a href="/">
            <div class="image-logo1"></div>
          </a>
          <a href="/">
            <div class="image-name1"></div>
          </a>
        </div>
        <nav id="mininav">
          <ul class="nav-list">
            <!--   -->
            <% if user_signed_in? %>
            <li>
              <div class="search-wrapper">
                <form action="/home/index" method="get">
                  <%= text_field_tag :search, params[:search], :class => 'search-input', :placeholder => 'Search', required: true %>
                  <span>
                    <%= button_tag(:class => "search-iconbtn") do %>
                    <svg width="13px" height="13px" class="search-icon" viewBox="0 0 13 13">
                      <path fill="#999999" d="M12,13a1,1,0,0,1-.7-.3L8.62,10A5.5,5.5,0,1,1,10,8.62l2.68,2.68A1,1,0,0,1,12,13ZM5.5,2A3.5,3.5,0,1,0,9,5.5,3.5,3.5,0,0,0,5.5,2Z"/>
                    </svg>
                    <% end %>
                  </span>
                </form>
              </div>
            </li>
            <% end %>
            <li>
              <a href="/">Home</a>
            </li>
            <% if user_signed_in? %>
            <li>
              <a href="/users_list">All Users</a>
            </li>

            <li>
              <a>Read</a>
              <ul class="nav-dropdown" style="z-index: 10;">
                <div class="arrow"></div>
                <li>
                  <a href="/">Trending</a>
                </li>
                <li>
                  <a href="/home/index">Latest</a>
                </li>
                <li>
                  <a href="/home/index">All</a>
                </li>
              </ul>
            </li>
            <% end %>
            <% if user_signed_in? %>
            <li>
            </li>
            <% else %>
            <li>
              <a id="log_in_modal" class="waves-effect modal-trigger" href="#modal7">Log In</a>
            </li>
            <% end %>

            <% if user_signed_in? %>
            <li>
              <a data-behaviour="notifications-link"><i class="material-icons right" style="padding-top: 7px; margin-left: 0px;">notifications</i>Notification<span class="new badge" data-behaviour="unread-count" style="min-width: 1rem;
                background-color: #039BE5;border-radius: 10px;z-index: 80000;margin-right: -10px;margin-top: -24px;padding: 0px;line-height: 15px;height: 15px;">0</span></a>
                <ul id="dropdownnoty" class="nav-dropdown">
                  <% @var.reverse.each do |var| %>

                  <% if !var.read_at.nil? %>
                  <li><a href="<%= %>" class="unread"><%= var.actor.name %> <%= var.action %></a></li>
                  <% end %>
                  <% end %>
                </ul>
              </li>
              <% end %>
              <% if user_signed_in? %>
              <li><a><%= avatar_for(current_user, size: 60) %></a>
                <ul class="nav-dropdown">
                  <div class="arrow"></div>
                  <li>
                    <a href="/users/<%= current_user.id %>">My Profile</a>
                  </li>
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li>
                    <a href="/notes">All Notes</a>
                  </li>
                  <li>
                    <a href="/surveys">All Tests</a>
                  </li>
                  <li>
                    <a href="#!">Chat Room</a>
                  </li>
                  <li>
                    <a href="#!">Rewards</a>
                  </li>
                  <li>
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete %></a>
                  </li>
                </ul>
              </li>
              <% else %>
              <% end %>
              <li style="float:right; padding-top:10px;">
                <a href="#modal9" class="modal-trigger right btn btn-floating btn-large waves-effect waves-light indigo darken-2 pulse z-depth-4 tooltipped" data-target="modal9" data-position="bottom" data-delay="50" data-tooltip="Ask Question" style="margin: 0;"><i class="material-icons">help</i></a>
              </li>
            </ul>

            <% if @ques.errors.any? %>
            <% @ques.errors.full_messages.each do |message| %>
            <%= message %>
            <% end %>
            <% end %>

          </div>
        </div>
      </nav>

    </div>


  </section>

  <!-- ************************************** NAVBAR FOR DESKTOP VIEW ENDS  ******************************************************** -->

  <!-- ####################################  NAVBAR FOR TABLET AND MOBILE VIEW   ############################################# -->
  <div class="nav-container hide-on-large-only" style="height: 70px;
  background: #FAFAFB;box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);z-index: 8000;width: 100%;max-width: 100%;">
  <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
  <ul class="side-nav white" id="mobile-demo">
    <li class="sidenav-header light-blue accent-4 center">
      <div class="user-view">
        <% if user_signed_in? %>
        <a class="left" href="#!user"><%= avatar_for(current_user, size: 40) %></a>
        <a href="#!name"><span class="white-text name"><%= link_to current_user.name, user_path(current_user.id) %></span></a>
        <a href="#!email"><span class="white-text email"><%= link_to current_user.email, user_path(current_user.id) %></span></a>
        <% end %>
        <ul class="hide-on-med-and-up">
          <% if user_signed_in? %>
          <li>
            <a class="dropdown-button white-text" data-activates="dropdown2"><i class="material-icons white-text ">person</i>Profile<i class="material-icons right white-text" style="margin-right:0;">arrow_drop_down</i></a>
          </li>
          <% end %>
        </ul>
        <ul id="dropdown2" class="dropdown-content white-text">
          <% if user_signed_in? %>
          <li>
            <a class="waves-effect waves-blue" href="/users/<%= current_user.id %>"><i class="material-icons">person</i>Profile</a>
          </li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <% end %>
          <li class="divider"></li>
          <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">settings</i>Settings</a></li>
          <li class="divider"></li>
          <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">help</i>Help</a></li>
          <li class="divider"></li>
          <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">lock</i>Lock</a></li>
          <li class="divider"></li>
          <li><a class="waves-effect waves-blue" href="/surveys"><i class="material-icons">lock</i>All Tests</a></li>
          <li class="divider"></li>
          <% if user_signed_in? %>
          <li>
            <a class="waves-effect waves-blue" href="#"><i class="material-icons">exit_to_app</i><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </a></li>
            <li class="divider"></li>
            <% else %>
            <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign in</a></li>
            <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign up</a></li>

            <% end %>
          </ul>

        </div>
      </li>
      <% if user_signed_in? %>
      <li>
        <a class="waves-effect waves-blue" href="#"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
      </li>
      <li class="divider"></li>
      <% else %>
      <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign in</a></li>
      <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign up</a></li>

      <% end %>
      <% if user_signed_in? %>
      <li class="waves-effect"><a href="/notes"><i class="material-icons">note</i>All Notes</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li class="waves-effect"><a href="/home/index"><i class="material-icons">help</i>All Questions</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li class="waves-effect"><a href="/surveys"><i class="material-icons">help</i>All Tests</a></li>

      <% end %>
      <li class="waves-effect"><a href="/"><i class="material-icons">help</i>All Questions</a></li>
      <li>
      </ul>
      <div class="brand center">
        <a href="/">
          <div class="image-logo1" style="margin-left: 47px;margin-top: -21px;"></div>
        </a>
      </div>

      <ul class="nav-list right">
        <% if user_signed_in? %>
        <li class="right"><a href="#"><%= avatar_for(current_user, size: 40) %></a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <% else %>
        <% end %>
      </ul>
    </div>

    <!-- **************************************  NAVBAR FOR TABLET AND MOBILE VIEW ENDS  ****************************************** -->
  </div>

  <div class="container" id="mithu" style="position: relative;padding-top: 85px;">
   <!-- ###################################  MODAL FOR SIGNUP / SIGNIN  ####################################### -->
   <div id="modal7" class="modal" style="height: 100%;">
    <div class="modal-content">
      <%= render :partial => 'layouts/modal' %>
    </div>
  </div>
  <!-- ###################################  MODAL FOR ALL TAGS  ####################################### -->
  <div id="modaltag" class="modal">
    <div class="modal-content">
      <%= render :partial => 'layouts/modaltag' %>
    </div>
  </div>


  <% if user_signed_in? %>
  <div class="hide-on-med-and-down">
    <div class="col s12 m12 l4 left taguser">

      <div class="">
        <!-- ###################################  TAGS CARD ON LEFT STARTS!   ####################################### -->
        <div class='card small tag'>
          <div class="">
            <a href="#modaltag"><span class="card-title" style="font-size: 28px; font-weight: 800;font-family: Fresca,sans-serif;
              padding: 0;border-bottom: 1px solid #d1d6da;">Trends to Follow</span></a>
            </div>
            <div id="tag_cloud">
              <% tag_cloud Question.tag_counts.order('count DESC').limit(10), %w[sml med lar] do |tag, css_class| %>
              <% if tag.name.length <= 11 %>

              <div class="chip">
                <%= link_to tag.name, tag_path(tag.name), class: css_class %>

                <% @trend=Trend.where(name: tag.name).first %>
                <% if @trend != nil %>

                <% if @trend.follow_string(current_user.id, @trend.id)== true %>
                <%= link_to(('<i class="material-icons tagicon">check</i>').html_safe, trend_follow_path(@trend), remote: true, method: :post, class: "follow1_#{@trend.id}") %>
                <% else %>
                <%= link_to(('<i class="material-icons tagicon">add</i>').html_safe, trend_follow_path(@trend), remote: true, method: :post, class: "follow1_#{@trend.id}") %>
                <% end %>
                <% end %>
              </div>


              <% end %>
              <% end %>

            </div>
            <div class="card-action center">
              <a class="waves-effect waves-light cyan btn modal-trigger" href="#modaltag">SEE ALL</a>
            </div>
          </div>
          <!-- ************************************  TAGS CARD ON LEFT ENDS!   ***************************************** -->

          <!-- ###################################  USERS CARD ON LEFT STARTS!   ####################################### -->
          <div class='card small userf'>
            <div>
              <a href="/users_list"><span class="card-title" style="font-size: 28px;font-weight: 800;font-family: Fresca,sans-serif;padding: 0;border-bottom: 1px solid #d1d6da;">Users to Follow</span></a>
            </div>
            <div id="user_cloud">
              <% User.limit(10).each do |user| %>
              <% if user != current_user %>
              <div class="userfollow">
                <figure><a href="#"><%= avatar_for(user, size: 40) %></a></figure>
                <div class="usertext">
                  <h5 class="" style="font-size: 1.2em; top: 2px;font-family: 'Fresca', sans-serif;"><%= link_to user.name, user_path(user.id) %></h5>
                  <div class="chip">
                    <% if user.follow_string(current_user.id, user.id)== true %>
                    <%= link_to('Unfollow', user_follow_path(user), remote: true, method: :post, class: "follow1_#{user.id}") %>
                    <% else %>
                    <%= link_to('follow', user_follow_path(user), remote: true, method: :post, class: "follow1_#{user.id}") %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
            <div class="card-action center">
              <a class="waves-effect waves-light cyan btn modal-trigger" href="/users_list">SEE ALL</a>
            </div>
          </div>
          <!-- ************************************  USERS CARD ON LEFT ENDS!   ***************************************** -->
        </div>
      </div>
    </div>
    <% end %>
    <!-- ###################################  NOTES CARD ON RIGHT STARTS!   ####################################### -->
    <% if user_signed_in? %>
    <div class="hide-on-med-and-down fixed">
      <div class="col s12 m12 l4">
        <% if !current_page?(:controller => 'notes', :action => 'index') %>
        <div class='car1 small note right'>
          <div class="wrapper">
            <aside class="note-wrap note-yellow">

              <% if Note.where(:user_id => current_user.id).length>0 %>
              <div style=" height: 50%; border-bottom: 1px solid #bcb1b1; overflow: hidden;">
                <p id="note1">
                  <a href="#modalshownote" style="color: #777471;"><%= Note.where(:user_id => current_user.id).last.title.truncate(20) %></a>
                </p>
                <p id="note1cont"><%= Note.where(:user_id => current_user.id).last.content.truncate(110) %></p>
              </div>
              <% end %>
              <% if Note.where(:user_id => current_user.id).length>=2 %>
              <div style=" height: 50%;overflow: hidden;">
                <p id="note1">
                  <a href="#modalshownote" style="color: #777471;"><%= Note.where(:user_id => current_user.id)[-2].title.truncate(20) %></a>
                </p>
                <p id="note1cont"><%= Note.where(:user_id => current_user.id)[-2].content.truncate(110) %>
                </p></div>
                <% end %>
                <br>
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-large waves-effect waves-light red z-depth-4">
                    <i class="large material-icons">menu</i>
                  </a>
                  <ul>
                    <li>
                      <a href="#modaladdnote" class="btn-floating tooltipped green" data-position="bottom" data-delay="50" data-tooltip="Add Note"><i class="material-icons">mode_edit</i></a>
                    </li>
                    <li>
                      <a class="btn-floating tooltipped yellow darken-1 modal-trigger" href="#modalshownote" data-position="bottom" data-delay="50" data-tooltip="Show Note"><i class="material-icons">arrow_drop_down</i></a>
                    </li>
                    <li>
                      <a href="/notes" class="btn-floating tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="See All"><i class="material-icons">list</i></a>
                    </li>
                  </ul>
                </div>
              </aside>
              <!-- ####################################  MODAL FOR SHOWING NOTE STARTS !   ############################################# -->
              <div id="modalshownote" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <%= render :partial => 'layouts/modalshownote' %>
                </div>
                <div class="modal-footer">
                  <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
                </div>
              </div>
              <!-- ************************************  MODAL FOR SHOWING NOTE ENDS !   ****************************************** -->
            </div>
            <div class="white">
              <%= render :partial => 'layouts/sideques' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <!-- ************************************  NOTES CARD ON RIGHT ENDS!   ************************************ -->
      <div class="row">
        <div class="col s12 m12 l7">
          <%= yield %>
        </div>
      </div>
      <!-- ####################################  MODAL FOR ADDING NEW NOTE STARTS !   ############################################# -->
      <div id="modaladdnote" class="modal modal-fixed-footer">
        <%= render :partial => 'layouts/modaladdnote' %>
      </div>
    </div>
    <!-- ************************************  MODAL FOR ADDING NEW NOTE ENDS !   ****************************************** -->

    <!-- ####################################  FOOTER STARTS   ############################################# -->
    <footer class="page-footer grey darken-3" style="bottom: 0px; overflow: hidden; left: 0; right: 0;">
      <div class="container">
        <div class="row">
          <div class="col l12 m12 s12" style="text-align: center;">
            <div class="col l4 m6 s12" style="text-align: center;">
              <h5 class="white-text">About Us</h5>
            </div>
            <div class="col s12 m6 l4" style="text-align: center;">
              <div class="col s3 m3 l3 left"><span class="white-text">
                <i class="fa fa-google small"></i>
              </span></div>
              <div class="col s3 m3 l3 right">
                <span class="white-text">
                  <i class="fa fa-linkedin small"></i>
                </span>
              </div>
              <div class="col s3 m3 l3 left">
                <span class="white-text">
                  <i class="fa fa-twitter small"></i>
                </span>
              </div>
              <div class="col s3 m3 l3 right">
                <span class="white-text">
                  <i class="fa fa-facebook small"></i>
                </span>
              </div>
            </div>

            <div class="col s12 m12 l4" style="text-align: center;">
              <h5 class="white-text">Contact Us</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container">
          <!--  © 2014 Copyright Text -->
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <!-- ************************************  FOOTER ENDS   ******************************************* -->




    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>

    <script>
      $(".button-collapse").sideNav();
      $(document).ready(function () {
        $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
  constrainWidth: false, // Does not change width of dropdown to that of the activator
  hover: true, // Activate on hover
  gutter: 0, // Spacing from edge
  belowOrigin: true, // Displays dropdown below the button
  alignment: 'right', // Displays dropdown with edge aligned to the left of button
  stopPropagation: false // Stops event propagation
}
);
// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered

$('#modal1').on('click', function () {
});
$('#modal1').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute
});
$('#modal2').on('click', function () {
});
$('#modal2').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute
});
$('#modal7').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute
});
$('#modal7').modal('open');
$('.trigger-modal').modal();
$('#modal7').modal('close');
$('#modal9').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute

});
$('#modal9').modal('open');
$('#modal9').modal('close');
$('#modaltag').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute

});
$('#modaltag').modal('open');
$('#modaltag').modal('close');
$('#modaladdnote').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute

});
$('#modaladdnote').modal('open');
$('#modaladdnote').modal('close');
$('#modaleachnote').on('click', function () {
});
$('#modaleachnote').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute

});
$('#modalshownote').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute
});
$('#modalshownote').modal('open');
$('#modalshownote').modal('close');
$('.tooltipped').tooltip({delay: 50});
});
      $('.modal').modal({
  dismissible: true, // Modal can be dismissed by clicking outside of the modal
  opacity: 0, // Opacity of modal background
  inDuration: 300, // Transition in duration
  outDuration: 200, // Transition out duration
  startingTop: '4%', // Starting top style attribute
  endingTop: '10%', // Ending top style attribute

}
);


// grab the dark overlay
var overlay = $('.modal-overlay');
// remove it
overlay.detach();
// attach it to the thing you want darkened
$('.container').after(overlay);

// close the modal
$(modal).closeModal();
// grab the dark overlay
var overlay = $('.modal-overlay');
// remove it
overlay.detach();
</script>

<!-- for dropdown  -->
<script type="text/javascript">
(function ($) { // Begin jQuery
  $(function () { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function (e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function () {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function () {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function () {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>


<script type="text/javascript">
//in case you want to think about touch devices...I guess thats cool.
var toggle = true;
$('.mobile-dropdown').on('click', function () {
  if (toggle === true) {
    $(this).addClass('active-drop');
    toggle = false;
    alert('turned on');
  } else {
    $(this).removeClass('active-drop');
    toggle = true;
    alert('turned off');
  }
})
</script>

<!-- <<<<<<<<<<<<<<<<<<<< NOTIFICATIONS CODE STARTS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<script type="text/javascript" charset="utf-8">
  $.ajax({
    url: '/notifications.json',
    method: 'GET',
    dataType: 'JSON',
    success: function (data) {
    var c = $('#dropdownnoty');
    var divElement = document.createElement('div'); //for arrow upon dropdown ul
    divElement.className += "arrow";  //for arrow upon dropdown ul
    if (data.length == 0) {
      var liElement = document.createElement('li');
      var a = document.createElement('a');
      liElement.append(a);
      c.prepend(liElement);
      a.innerHTML = "No new notifications";
    }
    else {
      for (var i = data.length - 1; i >= 0; i--) {
        var liElement = document.createElement('li');
        var a = document.createElement('a');
        liElement.append(a);

        c.prepend(liElement);
        a.innerHTML = data[i]['actor'] + " " + data[i]['action'];
        a.href = data[i]['url'];
        liElement = null;
      }
    }
    c.prepend(divElement);  //for arrow upon dropdown ul
    $("[data-behaviour='unread-count']")[0].innerHTML = data.length;
  },
  error: function () {
    console.log("some error");
    console.log(arguments);
  }
});
</script>
<script type="text/javascript" charset="utf-8">
  $("[data-behaviour='notifications-link']").click(function () {
    $.ajax({
      url: '/notifications/mark_as_read',
      method: 'POST',
      dataType: 'JSON',
      success: function (data) {
        $("[data-behaviour='unread-count']")[0].innerHTML = '0';
      }
    })
  });
</script>
<!-- <<<<<<<<<<<<<<<<<<<< NOTIFICATIONS CODE ENDS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


</body>
</html>
